# Database URL
DATABASE_URL=""

# Auth configuration
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
AUTH_SECRET="" 

# Google Drive upload configuration
GOOGLE_DRIVE_FOLDER_ID=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""